rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isAllowed() {
      return request.auth != null && request.auth.token.email_verified == true
        && (
          request.auth.token.email == 'pinekrone@gmail.com'
          || request.auth.token.email.matches('.*@realestateaistudio[.]com$')
        );
    }
    match /om_ingestions/{allPaths=**} {
      allow read, write: if isAllowed();
    }
    match /buildings/{allPaths=**} {
      allow read, write: if isAllowed();
    }
  }
}
